.weather {
    border: 1px
    margin: 4px;
    padding: 4px;
    display: flex;
    font-size: small;
    flex-direction: row;
}
.forecast {
    margin: 1px;
    padding: 1px;
}
.singleDay {
    margin: 4px;
    padding: 4px;
}