/* COLORS: */
/* blue: rgb(4, 86, 110) or #04566E */
/* dark green: rgb(104, 147, 104) or #689368 */
/* bright green: rgb(180, 211, 48) or #B4D330 */
/* tan: rgb(214, 198, 157) or #D6C69D */

/* Nav */



/* Main Content */
main {
    margin: 20px 20px 200px 20px;
}

.card {
    border:1px solid rgb(104, 147, 104);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px rgb(214, 214, 214);
}

.btn {
    margin-bottom: 10px;
}

#saveItinerary{
    margin-top: 7px;
    margin-bottom: 20px;
}


/* Dropdown Menu */
.dropdownMenuArea {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-content: flex-start;
    flex-direction: row;
	flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}


/* National Parks */



/* National Parks - Events */
.parkEvents-card {
    border: 1px solid rgb(4, 86, 110);
    background: rgb(214, 198, 157)
}


/* Attractions */
.hide-att {
    display: none;
}

.attractionAmeneties {
    padding-top: 15px;
}


/* Eatery */
.amenetiesEatList {
    display: flex;
    gap: 10px;
    padding-left: 0;
    margin-left: 0; 
}

.amenetiesEatList li {
    list-style-type: none;
    font-size: 14px;
}

.amenetiesEatIcon {
    width: 60px;
    height: 60px;
    border: 2px dashed yellowgreen;
    background-color: white;
    padding: 4px;
    margin-top: 16px;
}

.amenetiesEatIcon.nope {
    width: 60px;
    height: 60px;
    border: 2px dashed crimson;
    background-color: white;
    padding: 4px;
    margin-top: 16px;
}



/* Weather */
.weather {
    margin: 4px;
    padding: 4px;
    display: flex;
    font-size: small;
    flex-direction: row;
}
.forecast {
    border: 1px dotted whitesmoke;
    margin: 1px;
    padding: 1px;
}
.singleDay {
    border: 1px solid skyblue;
    margin: 4px;
    padding: 4px;
}


/* Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgb(104, 147, 104);
    margin-top: 30px;
    padding: 20px;
    /* box-shadow: 0px -10px 20px rgb(189, 189, 189); */
}

footer p{
    font-size: 14px;
    text-align: center;
    color: white;
    padding-top: 10px;
}

footer a{
    color: white;
}

footer a:hover{
    color: rgb(180, 211, 48);
}

footer img{
    display: block;
    width: 90px;
    height: auto;
    margin: auto;
    border-radius: 20px;
}